*.zip
*.movie
*.pptx
mata37 - ILP/cronograma.pdf
documentos matricula ufba/certidao quitacao eleitoral.pdf
documentos matricula ufba/historico escolar.pdf
documentos matricula ufba/rg.pdf
documentos matricula ufba/foto3x4.pdf
documentos matricula ufba/diploma.pdf
documentos matricula ufba/cpf.pdf
mata37 - ILP/aula/aula-0.pdf
mata37 - ILP/aula/aula-1.pdf
mata37 - ILP/aula/aula-2.pdf
mata37 - ILP/aula/aula-3.pdf
mata37 - ILP/aula/aula-4.docx
mata37 - ILP/aula/aula-4.pdf
mata37 - ILP/aula/aula-5.pdf
mata37 - ILP/aula/aula-6.pdf
mata37 - ILP/aula/aula-7.pdf
mata37 - ILP/aula/aula08.pdf
mata37 - ILP/aula/aula09.pdf
mata37 - ILP/aula/aula10.docx
mata37 - ILP/aula/aula10.pdf
mata37 - ILP/aula/aula11.pdf
mata37 - ILP/aula/aula12.pdf
mata39 - SIC/prof 1/trabalho 1/Estatuto_Regimento_UFBA_0_GRUPO5.pdf
mata39 - SIC/prof 1/trabalho 2/ENTREVISTA MATA39.pdf
mata39 - SIC/prof 1/trabalho 2/SLIDE.pdf
mata39 - SIC/prof 1/trabalho 3/DICAS_SOBRE_COMO_ESCREVER_UM_ENSAIO.pdf
mata39 - SIC/prof 1/trabalho 3/Ensaio Transformação da UFBA nos últimos anos Revisado.pdf
mata39 - SIC/prof 1/trabalho 3/Ensaio Transformação da UFBA nos últimos anos.pdf
mata39 - SIC/prof 1/trabalho 5/correção ensaio MATA39.pdf
mata39 - SIC/prof 1/trabalho 5/O Dilema das Redes e o papel do(a) computólogo(a) na produção de novas tecnologias REVISADO.pdf
mata39 - SIC/prof 1/trabalho 5/O Dilema das Redes e o papel do(a) computólogo(a) na produção de novas tecnologias.pdf
mata39 - SIC/prof 2/textos/Referenciais de Formacao para Cursos de Graduacao em Computacao - Outubro 2017.pdf
mata39 - SIC/prof 2/trabalho 1/Margarida Melo - ANÁLISE DA GRADE CURRICULAR DO BACHARELADO EM CIÊNCIA DA COMPUTAÇÃO.pdf
outros/comprovantematricula.pdf
outros/projeto-pedagogico-bcc-2012.pdf
outros/Requerimento_aproveitamento_Estudos.pdf
outros/Termo_de_Compromisso_de_Estgio_-_Margarida_-_Clicksign (1).pdf
outros/vagas-atual-4.pdf
mata39 - SIC/prof 1/trabalho 4/videocompleto.md
